

.shortner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    
    min-height: 100vh;
} 

.btn{
    padding: 0.8rem 4rem;
    border-radius: 5%;
}

.btn--primary{
    background-color: dodgerblue;
    color: white;
}

.search--form{
    padding: 10px 20px 10px 20px;
}
.search--form:focus{
    outline: none;
}

#result{
    margin: 1rem;
    padding: 1rem 13rem;
    color: white;
}

